* *:not(nav, .nav-links, .about, .contact, .order-now-button, .home, footer, .footer-links, .footer-social-icons) {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
nav #contact a {
  color: rgb(194, 194, 194);
}
.main-body {
  padding-top: 20vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.headding {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 35px;
}
.discord-server {
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 10vh;
}
.discord-server-join {
  align-items: center;
  text-align: center;
  width: 65px;
  margin-top: 5vh;
  margin-right: 52%;
  margin-left: 48%;
  padding: 5px;
  margin-bottom: 5vh;
  font-size: 20px;
  letter-spacing: 3px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}
.discord-server-join a {
  text-decoration: none;
  color: white;
}
.discord-server-join:hover {
  background-color: rgb(172, 172, 172);
}
.word-discord {
  color: #FFa500;
}

.email {
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 5vh;
}
.email-chat {
  align-items: center;
  text-align: center;
  width: 70px;
  margin-top: 5vh;
  margin-right: 52.1%;
  margin-left: 47.9%;
  padding: 5px;
  margin-bottom: 5vh;
  font-size: 20px;
  letter-spacing: 3px;
  border-width: 3px;
  border-style: solid;
  color: white;
}
.email-chat a {
  text-decoration: none;
  color: white;
}
.email-chat:hover {
  background-color: rgb(172, 172, 172);
}
.word-email {
  color: #FFa500;
}

.youtube {
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 5vh;
}
.youtube-watch {
  align-items: center;
  text-align: center;
  width: 85px;
  margin-top: 5vh;
  margin-right: 51.65%;
  margin-left: 47.35%;
  padding: 5px;
  margin-bottom: 5vh;
  font-size: 20px;
  letter-spacing: 3px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}
.youtube-watch a {
  text-decoration: none;
  color: white;
}
.youtube-watch:hover {
  background-color: rgb(172, 172, 172);
}
.word-youtube {
  color: #FFa500;
}

.facebook {
  align-items: center;
  text-align: center;
 color: white;
  padding-top: 5vh;
}
.facebook-chat {
  align-items: center;
  text-align: center;
  width: 70px;
  margin-top: 5vh;
  margin-right: 52.1%;
  margin-left: 47.9%;
  padding: 5px;
  margin-bottom: 5vh;
  font-size: 20px;
  letter-spacing: 3px;
  border-width: 3px;
  border-style: solid;
  color: white;
}
.facebook-chat a {
  text-decoration: none;
  color: white;
}
.facebook-chat:hover {
  background-color: rgb(172, 172, 172);
}
.word-facebook {
  color: #FFa500;
}

.twitter {
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 5vh;
}
.twitter-follow {
  align-items: center;
  text-align: center;
  width: 90px;
  margin-top: 5vh;
  margin-right: 52.7%;
  margin-left: 47.3%;
  padding: 5px;
  margin-bottom: 5vh;
  font-size: 20px;
  letter-spacing: 3px;
  border-width: 3px;
  border-style: solid;
 color: white;
}
.twitter-follow a {
  text-decoration: none;
  color: white;
}
.twitter-follow:hover {
 background-color: rgb(172, 172, 172);
}
.word-twitter {
  color: #FFa500;
}
@media screen and (max-width: 500px) {
  .discord-server-join {
    margin-left: 45%;
    margin-right: 55%;
  }
  .email-chat {
    margin-left: 44.9%;
    margin-right: 55.1;
  }
  .youtube-watch {
    margin-right: 55.65%;
    margin-left: 44.35%;
  }
  .facebook-chat {
    margin-right: 55.1%;
    margin-left: 44.9%;
  }
  .twitter-follow {
    margin-right: 55.7%;
    margin-left: 44.3%;
  }
  .linkedIn-visit {
    margin-right: 55.1%;
    margin-left: 44.9%;
  }
  .discord-server {
    margin-left: 10px;
    margin-right: 10px;
  }
  .email {
    margin-left: 20px;
    margin-right: 20px;
  }
  .youtube {
    margin-left: 20px;
    margin-right: 20px;
  }
  .facebook {
    margin-left: 10px;
    margin-right: 10px;
  }
  .twitter {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.main-body {
  background-image: url(../img/Untitled\ design\ \(1\)\ copy.png), url(../img/Untitled\ design\ \(5\).png);
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position-x: right, -5vw;
  background-position-y: 5vw, 30vw;
}
.hr1 {
  width: 50vw;
  align-items: center;
  margin-left: 25vw;
  height: 0.3vw;
  color: rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  border-radius: 0.7vw;
}
