* *:not(nav, .nav-links, .footer-social-icons, .footer-links, footer, .about, .contact, .order-now-button, .home, .landing-page-top-heading) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.home-body-main {
    font-family: "Roboto", sans-serif;
    color: rgb(139, 139, 139);
}
nav #home a {
    color: rgb(194, 194, 194);
}
.landing-page-top {
    height: 90vw;
    width: 100%;
    background-image: url(../img/discord-background-5.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.landing-page-top-heading {
    color: white;
    font-size: 4vw;
    margin-top: 20vw;
    letter-spacing: 2px;
    margin-left: 5vw;
    line-height: 4vw;
    font-family: 'Raleway', sans-serif;
}
.landing-page-top-subheading {
    color: white;
    font-size: 2vw;
    margin-top: 3vw;
    margin-left: 5vw;
    line-height: 3vw;
    font-weight: 100;
}
.landing-page-top-order-now-button {
    color: white;
    font-size: 2vw;
    margin-top: 3vw;
    margin-left: 5vw;
    letter-spacing: 2px;
    background-color: #ffa500;
    width: 20vw;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
}
.landing-page-top-order-now-button:hover {
    background-color: #b37400;
    cursor: pointer;
}
.landing-page-top-order-now-button a {
    color: white;
    text-decoration: none;
}
.lading-page-features {
    height: 900px;
    width: 100%;
}
.landing-page-features-heading-part-1 {
    color: #ffa500;
}
.landing-page-features-heading {
    color: white;
    font-size: 4vw;
    margin-left: 3vw;
}
.landing-page-features-body-part-1 {
    color: #ffa500;
}
.landing-page-features-body {
    color: white;
    margin-left: 3vw;
    margin-top: 2vw;
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.5vw;
}
.landing-page-stats-heading {
    color: white;
    font-size: 4vw;
    margin-left: 3vw;
    margin-top: 20vw;
}
.landing-page-stats-heading-part-1 {
    color: #ffa500;
}
.landing-page-stats {
    background-color: #12244c;
    height: 70vw;
    width: 100%;
}