nav #shopping {
  background-color: rgb(114, 23, 23);
}
.shopping-main-body {
  padding-top: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: "Roboto", sans-serif;
  color: rgb(139, 139, 139);
}
.order-now-headding {
  width: 100%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
}
@media screen and (max-width: 720px) {
  .mobile-shopping {
    flex-direction: column;
  }
  .admin-bot-icon-1 {
    margin-bottom: 40px;
  }
  .mobile-shopping {
    justify-content: center;
  }
  * *:not(nav, .music-bot-icon-1, .admin-bot-icon-1, .nav-links, .about, .contact, .order-now-button, .logo) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (min-width: 720px) {
  .mobile-shopping {
    flex-direction: row;
  }
  .admin-bot-icon-1 {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  * *:not(nav, .music-bot-icon-1, .admin-bot-icon-1, .nav-links, .about, .contact, .order-now-button, .mobile-shopping, .shopping-main-body, .logo) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
  .mobile-shopping {
    display: flex;
  }
  .shopping-hr-top {
    display: flex;
  }

.shopping-hr-top {
  margin-top: 50px;
  flex-direction: row;
  margin-bottom: 30px;
}
.mobile-shopping {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  align-items: center;
}
.music-bot-icon-1 {
  height: 350px;
  width: 300px;
  margin-top: 20px;
  border: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-image: url(../img/blue\ background.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: -125px;
  background-color: rgb(75, 75, 75);
}
.music-bot-icon-1-heading {
  text-align: center;
  margin-top: 80px;
  font-size: 25px;
  color: white;
}
.music-bot-icon-1-order-now-button {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  display: block;
  background-color: red;
  width: 180px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-left: 60px;
}
a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}
a:hover {
  transform: scale(1.5);
}
.music-bot-icon-1-version,
.music-bot-icon-1-price-montly,
.music-bot-icon-1-price-yearly {
  text-align: center;
  color: rgb(173, 173, 173);
}
.music-bot-icon-1-version {
  margin-top: 80px;
}
.music-bot-icon-1-price-montly,
.music-bot-icon-1-price-yearly {
  margin-top: 15px;
}
.music-bot-icon-1-order-now-button:hover {
  background-color: rgb(129, 8, 8);
}
.music-bot-icon-1:hover {
  transform: scale(1.1);
}

.admin-bot-icon-1 {
  height: 350px;
  width: 300px;
  margin-top: 20px;
  border: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-image: url(../img/red\ background.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: -125px;
  background-color: rgb(75, 75, 75);
  margin-top: 40px;
}
.admin-bot-icon-1-heading {
  text-align: center;
  margin-top: 80px;
  font-size: 25px;
  color: white;
}
.admin-bot-icon-1-order-now-button {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  display: block;
  background-color: red;
  width: 180px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-left: 60px;
}
a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}
a:hover {
  transform: scale(1.5);
}
.admin-bot-icon-1-version,
.admin-bot-icon-1-price-montly,
.admin-bot-icon-1-price-yearly {
  text-align: center;
  color: rgb(173, 173, 173);
}
.admin-bot-icon-1-version {
  margin-top: 80px;
}
.admin-bot-icon-1-price-montly,
.admin-bot-icon-1-price-yearly {
  margin-top: 15px;
}
.admin-bot-icon-1-order-now-button:hover {
  background-color: rgb(129, 8, 8);
}
.admin-bot-icon-1:hover {
  transform: scale(1.1);
} 