* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
}
.button {
    color: white;
    background-color:#FFa500;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    font-size: 40px;
    border-width: 0;
    box-shadow: 0 0 10px rgba(0,1,1,1);
}
.button-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background-color: #a76c01;
    cursor: pointer;
}
.username-container {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
