<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') -%>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="icon" href="/img/Copy of Ar (1).png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/404.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <%- include('partials/nav') -%>
  <body>
    <div class="main-body"></div>
    <%- include('partials/script') -%>
  </body>
  <% include('partials/footer') -%>
</html>
