<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') -%> 
    <title>Argon Bots | About</title>
    <link rel="icon" href="/img/Copy of Ar.png" type="image/x-icon" />
    <meta
      name="description"
      content="Order your own personalized Discord bot."
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <%- include('partials/nav') -%> 
  <body>
    
    <section class="about-body-main">
      <div class="about-fold">
      <h3 class="headding">OUR MISSION</h3>
      <h3 class="our-mission">
        Our <span class="about-heading-orange-part-1">mission</span> at Argon Bots <br />
        is to make people’s lives <br />
        easier by using our <span class="about-heading-orange-part-1">knowledge </span><br />
        of technology.
      </h3>
      <h3 class="keep-scrolling">KEEP SCROLLING</h3>
    </div>
      <h3 class="what-we-do-headding">WHAT WE DO</h3>
      <h3 class="what-we-do">
        We are a team of <span class="about-what-we-do-orange-part-1">bot</span> and <span class="about-what-we-do-orange-part-1">web developers</span> trying to give our customers the
        best bots possible either through our <span class="about-what-we-do-orange-part-1">website</span> or through our discord
        server. Be sure to look around the website and give us some feedback
        either through our <span class="about-what-we-do-orange-part-1">social channels or through email</span>. If you need help
        with our bots or have any questions be sure to also visit the contact
        page of our website.
      </h3>
      <h3 class="latest-news">LATEST NEWS</h3>
      <h3 class="news1"><a href="#">NEWS EXAMPLE</a></h3>
      <h3 class="news1-body">
        <hr class="news1-hr-top" />
        <a href="#">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ea
          asperiores velit harum modi facere cum mollitia! In, quam dolor
          cupiditate commodi illum necessitatibus velit totam maiores voluptas
          recusandae quis incidunt aspernatur. Fugiat iure asperiores sapiente!
          Fugiat excepturi quis itaque sequi, ut commodi optio suscipit
          doloremque eius. Voluptatum, neque vitae.
        </a>
        <hr class="news1-hr-bottom" />
      </h3>
    </section>
    <%- include('partials/script') -%>
  </body>
    <%- include('partials/footer') -%>
</html>
