<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') -%> 
    <title>Argon Bots | Careers</title>
    <link rel="icon" href="/img/Copy of Ar.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/careers.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/nav') -%> 
      <section class="legal-body-main">
          <h3 class="argon-bots-careers-headding">Work at Argon Bots!</h3>
          <hr>
          <h3 class="argon-bots-job-openings-heading">Job openings:</h3>
          <p class="argon-bots-job-openings-error-message">Sorry there are currently no job openings. ):</p>
      </section>
      <%- include('partials/script') -%>
</body>
<%- include('partials/footer') -%> 
</html>