<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') -%> 
    <title>Argon Bots | Confirm Login</title>
    <link rel="icon" href="/img/Copy of Ar.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/confirm-login.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/nav') -%> 
        <div class="confirm-login-body-main">
     <h3 class="argon-bots-confirm-login-heading">By clicking continue you agree to the argon bots <a href="legal.html">Terms of service</a>.</h3>
     <div class="confirm-login-button">
     <h3 class="argon-bots-confirm-login-continue-button"><a href="http://localhost:3000/auth">Continue</a></h3>
     </div>
    </div>
    <%- include('partials/script') -%>
</body>
<%- include('partials/footer') -%> 
</html>