<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') -%> 
    <title>Argon Bots | Contact</title>
    <link rel="icon" href="/img/Copy of Ar.png" type="image/x-icon" />
    <meta
      name="description"
      content="Order your own personalized Discord bot."
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/nav') -%> 
    <div class="main-body">
      <h3 class="headding">Chat with us and the Team!</h3>
      <span class="second-body">
      <h3 class="discord-server">
        Join the conversation on the community
        <span class="word-discord">DISCORD</span> server (You can also order
        bots here).
      </h3>
      <h3 class="discord-server-join"><a href="/join-server">Join</a></h3>
      <hr class="hr1" />
      <h3 class="email">
        If you have any question be sure to chat with out support team over
        <span class="word-email">EMAIL</span>(This can also be used for business
        purposes).
      </h3>
      <!--Email has to be changed-->
      <h3 class="email-chat"><a href="mailto:argonbots@gmail.com">Chat</a></h3>
      <hr class="hr1" />
      <h3 class="youtube">
        Watch our tutorials on <span class="word-youtube">YOUTUBE</span> to help
        set up your personal bot.
      </h3>
      <h3 class="youtube-watch"><a href="https://www.youtube.com/channel/UCsZGHtBMk-4P1nERvcWAPEQ" target="blank">Watch</a></h3>
      <hr class="hr1" />
      <h3 class="facebook">
        Chat with us on <span class="word-facebook">FACEBOOK</span> for support.
      </h3>
      <h3 class="facebook-chat"><a href="https://www.facebook.com/profile.php?id=100076229974571" target="blank">Chat</a></h3>
      <hr class="hr1" />
      <h3 class="twitter">
        Follow us on <span class="word-twitter">TWITTER</span>.
      </h3>
      <h3 class="twitter-follow"><a href="https://twitter.com/ArgonBots" target="blank">Follow</a></h3>
    </div>
  </span>
  <%- include('partials/script') -%>
  </body>
  <%- include('partials/footer') -%>
</html>
