<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') -%> 
    <title>Argon Bots | Home</title>
    <link rel="icon" href="/img/Copy of Ar.png" type="image/x-icon" />
    <meta
      name="description"
      content="Order your own personalized Discord bot."
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
  </head>
  <%- include('partials/nav') -%> 
  <body>
    <section class="home-body-main">
      <div class="landing-page-top"><h3 class="landing-page-top-heading"><span class="landing-page-top-heading-part-1">BRINGING YOU THE MOST ADVANCED</span><span class="landing-page-top-heading-part-2"> DISCORD BOTS!</span></h3>
      <h2 class="landing-page-top-subheading">Argon Bots has one of the fastest growing Discord communities in the world.</h2>
    <h3 class="landing-page-top-order-now-button"><a href="../html/shopping.html">Order Now</a></h3></div>
    <div class="lading-page-features">
      <h3 class="landing-page-features-title">What we have to offer</h3>
      <h3 class="landing-page-features-heading"><span class="landing-page-features-heading-part-1">A bot shop</span><br> with some of the most<br> feature rich bots in the world.</h3>
   <!-- <h3 class="landing-page-features-body">Argon Bots is a Bot 
     Shop that has a growing number of high quality <span class=
     "landing-page-features-body-part-1">Discord Bots</span>.<br>
     <span class="landing-page-features-body-part-1">Argon Bots
     </span> is also home to a rapidly growing community of bot
      developers, supporters, <br>web developers and costumers.
    </h3></div> -->
   <h3 class="features-argon-music-headding"><a href="/bots"class="home-page-features-description-headding-href">Argon Music</a></h3>
   <iframe class="features-argon-music-youtube-video" src="https://www.youtube.com/embed/wp3IPEglr-4" width="640px" height="385px">
   </iframe>
   <p class="features-argon-music-text-body">Lorem ipsum dolor sit 
     amet consectetur adipisicing elit. Quod distinctio mollitia,
      quos odit dolorem, officia aspernatur, nihil tenetur quam 
      eligendi sit. Aut quod voluptatibus velit quia quam? Officiis
       amet delectus id, rerum quisquam quod pariatur placeat dolores
        perferendis quam doloremque nobis molestiae aspernatur modi,
         laborum ea est provident unde! Hic quia corporis sapiente.
          Neque, vitae! Consequuntur, eveniet. Nisi doloribus, eaque
           soluta in id ratione animi aliquid nulla, asperiores et 
           aut ad sed? Error, id. Minima, consequuntur voluptates 
           expedita suscipit ullam et maxime earum quasi tempora fuga.
            Totam harum doloremque ratione fugiat expedita libero
             fuga assumenda id? Aperiam excepturi autem facilis 
             blanditiis necessitatibus veritatis labore eaque quo, 
             illum tenetur enim praesentium ipsum nostrum sequi 
             esse? Culpa, vero impedit vitae dolore aliquam.
   </p>
   <h3 class="features-argon-system-headding"><a href="/bots" class="home-page-features-description-headding-href">Argon System</a></h3>
   <iframe class="features-argon-music-youtube-video" src="https://www.youtube.com/embed/wp3IPEglr-4" width="640px" height="385px">
   </iframe>
   <p class="features-argon-music-text-body">Lorem ipsum dolor sit 
     amet consectetur adipisicing elit. Quod distinctio mollitia,
      quos odit dolorem, officia aspernatur, nihil tenetur quam 
      eligendi sit. Aut quod voluptatibus velit quia quam? Officiis
       amet delectus id, rerum quisquam quod pariatur placeat dolores
        perferendis quam doloremque nobis molestiae aspernatur modi,
         laborum ea est provident unde! Hic quia corporis sapiente.
          Neque, vitae! Consequuntur, eveniet. Nisi doloribus, eaque
           soluta in id ratione animi aliquid nulla, asperiores et 
           aut ad sed? Error, id. Minima, consequuntur voluptates 
           expedita suscipit ullam et maxime earum quasi tempora fuga.
            Totam harum doloremque ratione fugiat expedita libero
             fuga assumenda id? Aperiam excepturi autem facilis 
             blanditiis necessitatibus veritatis labore eaque quo, 
             illum tenetur enim praesentium ipsum nostrum sequi 
             esse? Culpa, vero impedit vitae dolore aliquam.
   </p>
    <div class="landing-page-stats"><h3 class="landing-page-stats-heading"><span class="landing-page-stats-heading-part-1">Argon Bots</span> server stats.</h3></div>
    </section>
    <%- include('partials/script') -%>
  </body>
  <%- include('partials/footer') -%>
</html>
