<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') -%>
    <title>Argon Bots | Create Bot</title>
    <link rel="icon" href="/img/Copy of Ar.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/music-bot-form-1.css" />
  </head>

  <body>
    <h3 class="cancel-button"><a href="/bots">CANCEL</a></h3>
    <h3 class="back-button"><a href="/music-bot-form/prefix">BACK</a></h3>
    <h3 class="form-item-1-headding">Next lets focus on your BOT'S STATUS</h3>
    <div class="form-container">
      <form action="/music-bot-form/status-type" 2>
        <input
          type="text"
          id="form-item-1-input"
          placeholder="Bot Status"
        /><br /><br />
        <button id="form-item-1-button" type="submit">NEXT</button>
      </form>
    </div>
    <script src="/js/1.js"></script>
  </body>
</html>
