<nav>
    <div class="logo">
      <a href="/">
        <img class="nav-logo" src="/img/Copy of Ar (1).png" height="35px" alt="argon bots icon">
        <h4 class="nav-argon-bots-logo text">Argon Bots</h4>
      </a>
    </div>
    <ul class="nav-links">
      <li class="home" id="home"><a href="/">Home</a></li>
      <li class="about" id="about"><a href="/about">About</a></li>
      <li class="contact"><a href="/contact">Contact</a></li>
      <li class="order-now-button">
        <a href="/bots">Our Bots</a>
      </li>
      <li class="user" id="user"><a href="/confirm-login">Login</a></li>
      <li class="profile" id="profile">Profile</li>
      <ul class="profile-menu-container" id="profile-menu-container">
        <li action="/auth/logout" class="logout" id="logout">Log out</li>
      </ul>
    </ul>
    <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>