<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Argon Bots | Create Bot</title>
  <link rel="icon" href="../img/copy-of-ar.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/music-bot-form-9.css" />
</head>

<body>
  <h3 class="cancel-button"><a href="../html/shopping.html">CANCEL</a></h3>
  <h3 class="back-button"><a href="../html/music-bot-form-8.html">BACK</a></h3>
  <h3 class="form-item-1-headding">
    On the homestretch! We need your BOT'S ID
  </h3>
  <input type="text" id="form-item-1-input" placeholder="Bot ID" /><br /><br />
  <button id="form-item-1-button">
    <a href="../html/music-bot-form-10.html">NEXT</a>
  </button>
  <script src="../js/9.js"></script>
</body>

</html>