<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argon Bots | News</title>
    <link rel="icon" href="../img/copy-of-ar.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <div class="logo">
          <a href="../html/index.html">
            <img class="nav-logo" src="../Copy of Ar.png" height="35px" alt="argon bots icon">
            <h4 class="nav-argon-bots-logo text">Argon Bots</h4>
          </a>
        </div>
        <ul class="nav-links">
          <li class="home" id="home"><a href="../html/index.html">Home</a></li>
          <li class="about" id="about"><a href="../html/about.html">About</a></li>
          <li class="contact"><a href="../html/contact.html">Contact</a></li>
          <li class="order-now-button">
            <a href="../html/shopping.html">Our Bots</a>
          </li>
          <li class="user"><a href="../html/confirm-login.html">Login</a></li>
        </ul>
        <div class="hamburger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
      <section class="legal-body-main">
          <h3 class="argon-bots-legal-latest-news-headding">Latest News</h3>
          <h3 class="news1"><a href="#">NEWS EXAMPLE</a></h3>
          <h3 class="news1-body">
            <hr class="news1-hr-top" />
            <a href="#">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ea
              asperiores velit harum modi facere cum mollitia! In, quam dolor
              cupiditate commodi illum necessitatibus velit totam maiores voluptas
              recusandae quis incidunt aspernatur. Fugiat iure asperiores sapiente!
              Fugiat excepturi quis itaque sequi, ut commodi optio suscipit
              doloremque eius. Voluptatum, neque vitae.
            </a>
            <hr class="news1-hr-bottom" />
          </h3>
          <h3 class="news2"><a href="#">NEWS EXAMPLE</a></h3>
          <h3 class="news2-body">
            <hr class="news2-hr-top" />
            <a href="#">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ea
              asperiores velit harum modi facere cum mollitia! In, quam dolor
              cupiditate commodi illum necessitatibus velit totam maiores voluptas
              recusandae quis incidunt aspernatur. Fugiat iure asperiores sapiente!
              Fugiat excepturi quis itaque sequi, ut commodi optio suscipit
              doloremque eius. Voluptatum, neque vitae.
            </a>
            <hr class="news2-hr-bottom" />
          </h3>
      </section>
</body>
<footer>
    <div class="footer-links">
    <h3 class="footer-contact"><a href="contact.html">Contact</a></h3>
    <h3 class="footer-legal"><a href="legal.html">Legal</a></h3>
    <h3 class="footer-news"><a href="news.html">News</a></h3>
    <h3 class="footer-privacy"><a href="legal.html">Privacy Policy</a></h3>
    <h3 class="footer-careers"><a href="careers.html">Careers</a></h3>
    <h3 class="footer-report-a-bug"><a href="mailto:argonbots@gmail.com">Report a problem</a></h3>
  </div>
    <div class="footer-social-icons">
    <a href="https://discord.gg/D73UffAQ48" class="footer-social-discord" target="blank"><img src="../img/Social/yd3l9ko4pn171.webp" alt="Discord logo" height="47px"></a>
    <a href="https://www.youtube.com/channel/UCsZGHtBMk-4P1nERvcWAPEQe" class="footer-social-youtube" target="blank"><img src="../img/Social/transparent_background_youtube_logo_png256.png" alt="youtube logo" height="53px"></a>
    <a href="https://www.facebook.com/profile.php?id=100076229974571" class="footer-social-facebook" target="blank"><img src="../img/Social/58e91965eb97430e819064f5.png" alt="facebook logo" height="50px"></a>
    <a href="https://twitter.com/ArgonBots" class="footer-social-twitter" target="blank"><img src="../img/Social/Twitter-Download-PNG.png" alt="twitter logo" height="43px"></a>
  </div>
  </footer>
</html>