.confirm-login-body-main {
    padding-top: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-family: "Roboto", sans-serif;
    color: white;
}
.argon-bots-careers-headding {
    padding-bottom: 5vh;
    font-size: 40px;
    text-align: center;
}
footer {
    margin-top: 400px;
}
.argon-bots-confirm-login-heading {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}
.argon-bots-confirm-login-heading a {
    color: #ffa500;
    text-decoration: #ffa500;
    text-decoration-line: underline;
}
.argon-bots-confirm-login-heading a:hover {
    color: #b37400;
    text-decoration: #b37400;
    text-decoration-line: underline;
}
.argon-bots-confirm-login-continue-button {
    background-color: #ffa500;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
}
.argon-bots-confirm-login-continue-button:hover {
    background-color: #b37400;
    cursor: pointer;
}
.argon-bots-confirm-login-continue-button a {
    color: white;
    text-decoration: none;
}
.confirm-login-button {
    display: flex;
    width: 100%;
    justify-content: center;
}