nav #shopping {
  background-color: rgb(114, 23, 23);
}
.shopping-main-body {
  padding-top: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: "Roboto", sans-serif;
  color: rgb(139, 139, 139);
}
.order-now-headding {
  width: 100%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
}
.shopping-table-nav {
  display: flex;
  background-color: rgb(63, 62, 62);
  margin-top: 5vh;
  font-size: 15px;
}
.table-bot-name {
  margin-left: 10vw;
  white-space: nowrap;
}
.table-version {
  margin-left: 15vw;
}
.table-price-month {
  margin-left: 10vw;
}
.table-price-year {
  padding-left: 10vw;
}
.table-music-bot {
  display: flex;
  margin-top: 5vh;
  font-size: 12px;
  padding-top: 2vh;
  align-items: center;
}
.music-bot-name {
  margin-left: 10vw;
  white-space: nowrap;
  text-transform: uppercase;
}
.music-bot-version {
  margin-left: 17vw;
}
.music-bot-price-month {
  margin-left: 15vw;
}
.music-bot-price-year {
  margin-left: 15vw;
}
.table-admin-bot {
  display: flex;
  margin-top: 5vh;
  font-size: 12px;
  padding-top: 2vh;
  align-items: center;
}
.admin-bot-name {
  margin-left: 10vw;
  white-space: nowrap;
  text-transform: uppercase;
}
.admin-bot-version {
  margin-left: 16.8vw;
}
.admin-bot-price-month {
  margin-left: 15vw;
}
.admin-bot-price-year {
  margin-left: 14.3vw;
}
.order-now-button-music {
  background-color: rgb(195, 31, 31);
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  border-radius: 15px;
  margin-left: 6vw;
}
.order-now-button-music a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}
.order-now-button-music:hover {
  background-color: rgb(201, 85, 85);
}
.order-now-button-admin {
  background-color: rgb(195, 31, 31);
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  border-radius: 15px;
  margin-left: 5.2vw;
}
.order-now-button-admin a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}
.order-now-button-admin:hover {
  background-color: rgb(201, 85, 85);
}
.shopping-table-mobile {
  display: none;
  margin-top: 50px;
  justify-content: space-evenly;
}
.shopping-table-mobile-line-1 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
}
.shopping-table-mobile-line-2 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  margin-top: 15px;
}
.shopping-table-mobile-line-3 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  margin-top: 15px;
}
.shopping-table-mobile-line-4 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  margin-top: 15px;
}
.shopping-table-mobile-line-5 {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  margin-top: 20px;
}
@media screen and (max-width: 770px) {
  .shopping-table-desktop {
    display: none;
  }
  .shopping-table-mobile {
    display: flex;
  }
  .shopping-table-mobile-line-1 {
    display: flex;
    background-color: rgb(63, 62, 62);
    padding: 5px;
  }
  .shopping-table-mobile-line-2 {
    display: flex;
  }
  .shopping-table-mobile-line-3 {
    display: flex;
  }
  .shopping-table-mobile-line-4 {
    display: flex;
  }
  .shopping-table-mobile-line-5 {
    display: flex;
  }
}
.mobile-table-music-bot-order {
  background-color: rgb(195, 31, 31);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-left: 100px;
}
.mobile-table-admin-bot-order {
  background-color: rgb(195, 31, 31);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}
.mobile-table-music-bot-version {
  margin-right: 65px;
}
.mobile-table-music-bot-price-month {
  margin-right: 50px;
  margin-left: 30px;
  white-space: nowrap;
}
.mobile-table-admin-bot-price-month {
  margin-right: 20px;
  white-space: nowrap;
}
.mobile-table-music-bot-price-year {
  margin-right: 50px;
  margin-left: 30px;
  white-space: nowrap;
}
.mobile-table-admin-bot-price-year {
  margin-right: 20px;
  white-space: nowrap;
}
.mobile-table-music-bot-order {
  margin-right: 20px;
  white-space: nowrap;
}
.mobile-table-admin-bot-order {
  margin-right: 5px;
  white-space: nowrap;
}
.mobile-table-admin-bot-order a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}
.mobile-table-music-bot-order a {
  color: rgb(139, 139, 139);
  text-decoration: none;
}
.mobile-table-music-bot-order:hover {
  background-color: rgb(201, 85, 85);
}
.mobile-table-admin-bot-order:hover {
  background-color: rgb(201, 85, 85);
}
