* *:not(nav, .music-bot-icon-1, .admin-bot-icon-1, .nav-links, .about, .contact, .order-now-button, .mobile-shopping, .shopping-main-body, .logo, .home) {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
nav #shopping a {
  color: rgb(194, 194, 194);;
}
.shopping-main-body {
  padding-top: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: "Roboto", sans-serif;
  color: white;
}
.order-now-headding {
  width: 100%;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
}
@media screen and (max-width: 720px) {
  .mobile-shopping {
    flex-direction: column;
  }
  .admin-bot-icon-1 {
    margin-bottom: 100px;
  }
  .music-bot-icon-1 {
    margin-bottom: 60px;
  }
  .mobile-shopping {
    justify-content: center;
  }
  * *:not(nav, .music-bot-icon-1, .admin-bot-icon-1, .nav-links, .about, .contact, .order-now-button, .logo) {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (min-width: 720px) {
  .mobile-shopping {
    flex-direction: row;
  }
  .admin-bot-icon-1 {
    margin-bottom: 100px;
    margin-left: 50px;
  }
  .music-bot-icon-1 {
    margin-bottom: 100px;
  }
}
  .mobile-shopping {
    display: flex;
  }
  .shopping-hr-top {
    display: flex;
  }

.shopping-hr-top {
  margin-top: 50px;
  flex-direction: row;
  margin-bottom: 30px;
}
.mobile-shopping {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  align-items: center;
}
.music-bot-icon-1 {
  height: 350px;
  width: 300px;
  margin-top: 39.5px;
  border: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-image: url(../img/Argon\ Music-2.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: 0px;
  background-position-x: center;
  background-color: rgb(75, 75, 75);
}
.music-bot-icon-1-heading {
  text-align: center;
  margin-top: 130px;
  font-size: 25px;
  color: white;
}
.music-bot-icon-1-order-now-button {
  text-align: center;
  font-size: 20px;
  margin-top: 7px;
  display: block;
  background-color: #FFa500;
  width: 180px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-left: 60px;
}
a {
  color: white;
  text-decoration: none;
}
.music-bot-icon-1-version,
.music-bot-icon-1-price-montly,
.music-bot-icon-1-price-yearly {
  text-align: center;
  color: rgb(173, 173, 173);
}
.music-bot-icon-1-version {
  margin-top: 30px;
}
.music-bot-icon-1-price-montly,
.music-bot-icon-1-price-yearly,
.music-bot-icon-1-more-info {
  margin-top: 15px;
}
.music-bot-icon-1-order-now-button:hover {
  background-color: #b37400;
  cursor: pointer;
}
.music-bot-icon-1:hover {
  transform: scale(1.07);
  transition: all 0.3s ease-in;
}

.admin-bot-icon-1 {
  height: 350px;
  width: 300px;
  margin-top: 20px;
  border: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-image: url(../img/argon\ utility-2.png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position-y: 0px;
  background-position-x: center;
  background-color: rgb(75, 75, 75);
  margin-top: 40px;
}
.admin-bot-icon-1-heading {
  text-align: center;
  margin-top: 130px;
  font-size: 25px;
  color: white;
}
.admin-bot-icon-1-order-now-button {
  text-align: center;
  font-size: 20px;
  margin-top: 7px;
  display: block;
  background-color: #FFa500;
  width: 180px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-left: 60px;
}
a {
  color: white;
  text-decoration: none;
}
.admin-bot-icon-1-version,
.admin-bot-icon-1-price-montly,
.admin-bot-icon-1-price-yearly {
  text-align: center;
  color: rgb(173, 173, 173);
}
.admin-bot-icon-1-version {
  margin-top: 30px;
}
.admin-bot-icon-1-price-montly,
.admin-bot-icon-1-price-yearly,
.admin-bot-icon-1-more-info {
  margin-top: 15px;
}
.admin-bot-icon-1-order-now-button:hover {
  background-color: #b37400;
  cursor: pointer;
}
.admin-bot-icon-1:hover {
  transform: scale(1.07);
  transition: all 0.3s ease-in;
} 
.music-bot-icon-1-more-info {
  text-align: center;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(124, 124, 124);
  border: 0;
  color: white;
  cursor: pointer;
}
.admin-bot-icon-1-more-info {
  text-align: center;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(124, 124, 124);
  border: 0;
  color: white;
  cursor: pointer;
}
.music-bot-icon-1-more-info:hover,
.admin-bot-icon-1-more-info:hover {
  background-color: rgb(194, 194, 194);
}
.admin-bot-icon-1-more-info a,
.music-bot-icon-1-more-info a {
  color: rgb(173, 173, 173);
  text-decoration: rgb(173, 173, 173);
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.admin-bot-icon-1-more-info a:hover,
.music-bot-icon-1-more-info a:hover {
  color: white;
  text-decoration: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  cursor: pointer;
}
.music-bot-more-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-bot-more-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal {
 background-color: rgb(102, 102, 102);
 width: 50vw;
 height: 10vw;
 padding: 25px;
 border-radius: 1vw;
}
.close-symbol {
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  top: 25vh;
  right: 20vw;
  font-size: 30px;
}
.close-symbol:hover {
  cursor: pointer;
}
.modal-container:hover {
  cursor: pointer;
}
#modal:hover {
 cursor: auto;
}
.modal-container.show {
  display: flex;
}
.modal-container1 {
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal1 {
 background-color: rgb(102, 102, 102);
 width: 50vw;
 height: 10vw;
 padding: 25px;
 border-radius: 1vw;
}
.close-symbol1 {
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  top: 25vh;
  right: 20vw;
  font-size: 30px;
}
.close-symbol1:hover {
  cursor: pointer;
}
.modal-container1:hover {
  cursor: pointer;
}
#modal1:hover {
 cursor: auto;
}
.modal-container1.show {
  display: flex;
}